<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completa tu compra</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>
        <i class="fas fa-comments-dollar"></i>
        <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
    </header>
    <main>
        <form action="" method="POST">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre">
            <input type="number" name="cedula" id="cedula" placeholder="ID">
            <input type="text" name="banco" id="banco" placeholder="Banco">
            <input type="number" name="cuenta" id="cuenta" placeholder="Número de cuenta">
            <button type="submit">Comprar</button>
            
        </form>
    </main>
    <footer>
        <button id="add-btn">Comprar</button>
    </footer>
    <script src="https://kit.fontawesome.com/10a9c4b979.js" crossorigin="anonymous"></script>
</body>
</html>