<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completa tu compra</title>
</head>
<body>
    <header>
        <i class="fas fa-comments-dollar"></i>
        <a href="../index.html"><i class="fas fa-arrow-left"></i></a>
    </header>
    <script src="https://kit.fontawesome.com/10a9c4b979.js" crossorigin="anonymous"></script>
</body>
</html>